:root {
    --color-background-banner: #f0e7ddc7;
    --color-banner-light: #fae7d3ee;
    --color-banner-dark: #5a4b3aee;
    --color-banner-middle:#a18d75ee;
    --color-banner-text:#272625ee;
    --color-letters: #3f311c;

} 


#banner-container, #banner-items {
    flex-direction: row;
    display: flex;

}

#banner-container{
    animation: fadeIn 3s ease-in forwards;
    background-color: var(--color-background-banner);
    padding: 3vw;
    width: 95%;
}

#ban-barista{
    width: 35%;
}
#banner-items{
    width: 65%;
}
#barista {
   width: 100%;
   height: 99%;
}

#banner-items {
    
    flex-direction: column;
}

.banner-child{
    width: 100%;
    height: 33%;
    padding-right: 15px;
    padding-left: 15px;

}

.banner-child:nth-child(1){
    background-color: var(--color-banner-light);
    text-align: start;
    animation: fadeIn 4s ease-in forwards;

}

.banner-child:nth-child(2){
    background-color: var(--color-banner-middle);
    text-align: center;
    animation: fadeIn 5s ease-in forwards;

}

.banner-child:nth-child(3){
    background-color: var(--color-banner-dark);
    text-align: end;
    animation: fadeIn 6s ease-in forwards;


}

.item-title{
    font-size: 3vw;
    font-family: var(--fuente-texto);
    font-weight: 100;
}

.item-info {
    font-size: 1.5vw;
    font-family: var(--fuente-texto);
    font-weight: 100;
    color: var(--color-banner-text);
}

.banner-child:nth-child(1) h3 {
    color: var(--color-banner-middle);
}

.banner-child:nth-child(2) h3 {
    color: var(--color-banner-dark);
}

.banner-child:nth-child(3) h3 {
    color: var(--color-banner-light);
}

@keyframes fadeIn {
  from { opacity: 0;
        transform: translateX(-100px); }
  to   { opacity: 1;
        transform: translateX(0px);  }
}

#banner-mobile, #cafe-banner {
    display: none;
}

#marca-des{
    font-family: "Miss Fajardose", cursive;
    font-weight: 100;
    font-size: 5vw;
}

#description {
    flex-direction: column;
    font-size: 1.5vw;
    flex-wrap: wrap;
    color: var(--color-letters);
    background: #f0e7ddc7;
}

#description > h3{
    color: var(--color-banner-light);
    font-weight: 100;
}

#sec-buttom, #description{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#sec-buttom {
    width: 100%;
    height: 10vh;
    background-color:  #f0e7ddc7;
    padding-bottom: 20px;
}

#sec-buttom > a> button{
    background-color: var(--color-banner-middle);
    width: 25vw;
    height: 10vh;
    padding: 0px;
    border-width: 0px;
    font-size: 3vw;
    border-radius: 25%;
    color: var(--color-banner-dark);
}

#sec-buttom > a> button:hover{
    transform:scale(1.05) ;
    background-color: var(--color-banner-text);
    color: var(--color-banner-light);
    box-shadow: 10px 13px 14px rgba(58, 56, 56, 0.356);
}

@media (max-width: 768px) {
    #marca-des {
        font-size: 7vw;
    }
    #description {
        font-size: 2vh;
    }
    #banner-container{
        display: flex;
        flex-direction: column;
    }
    #ban-barista{
        display: none;
    }
    #banner-mobile, #cafe-banner {
        display: flex;
        width: 100%;
    }
    #banner-items{
        width: 94%;
    }
    
    .banner-child:nth-child(1){
        animation: fadeIn 4s ease-in forwards;
    
    }
    .banner-child:nth-child(2){
        animation: fadeIn 5s ease-in forwards;
        
    }
    .banner-child:nth-child(3){
        animation: fadeIn 6s ease-in forwards;
    }
    .item-info{
        font-size: 3vw;
    }
    .item-title{
        font-size: 5vw;
    }

}
