@import url('https://fonts.googleapis.com/css2?family=Miss+Fajardose&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Radley:ital@0;1&display=swap');
:root {
    --color-background: #8b9571;
    --color-letters-shadow: #614923;
    --color-background-two: #a6b387;
    --color-background-shadow:#c5d4a1;
    --color-letters: #3f311c;
    --fuente-texto: "Radley";
    --color-oscuro:#34302a;

}

#nav, #logo, #nav-items{
    background-color: var(--color-background);
}

#logo-container,#nav-items, #nav {
    align-items: center;
    justify-items: center;
    display: flex;
}
#nav {
    width: 99vw;
    flex-direction: column;
}
#nav-items, #logo-container {
    width: 100%;
    height: 100%;
}

#logo-container,#nav-items {
    flex-direction: row;
}
#logo-container {
  position: relative; 
}

#logo{
    width: 10%;
    display: block;
    margin: 0 auto;
    
}

#nav-items{
    justify-content: space-evenly;
    background-color: var(--color-background-two);
}

.a-nav {
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 2vw;
    text-decoration: none;
    color:var(--color-letters);
    font-family: var(--fuente-texto);
}



.a-nav:hover{
    background-color: var(--color-background-shadow);
    color: var(--color-letters-shadow);
    transform: translate(-10px,-10px);
    box-shadow: 5px 5px 5px 5px var(--color-shadow);
}

#carrito{
    width: 2.5vw;
}

#marca {
  font-family: "Miss Fajardose", cursive;
  font-weight: 100;
  font-style: normal;
  position: absolute; 
  top: 25%;          
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4vw;     
  pointer-events: none; 
}

#first-child{
    display: inline;
    background-color: var(--color-oscuro);
    color: rgb(242, 227, 187);
    width: 100%;
    height: 2vw;
    text-align: center;
    font-size: 0.75vw;
    font-family: var(--fuente-texto);
}