@import url('https://fonts.googleapis.com/css2?family=Radley:ital@0;1&display=swap');
:root {
    --color-fondo:#f6f2ed;
    --color-nav: #8b9571;
    --color-footer: #614923;
    --fuente-texto: "Radley";
}
body{
    background-color: var(--color-fondo);
    font-family: Garamond;
}
